.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.greyscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
/*
*
*
* Colors
*
*/
.sqooba-illu {
  position: absolute;
}
.sqooba-illu#illu-fond {
  width: 40px;
  height: 40px;
  background: red;
  bottom: 0;
  right: 50%;
}
